.grow1 {
    flex-grow:1;
}

.grow2 {
    flex-grow: 2;
}

.mail-preview {
    box-shadow: 1px 1px rgb(160, 160, 160);
}

.mail-preview:hover {
    box-shadow: 1px 2px rgb(117, 117, 117);
}

.read {
    background-color: lightgray;
}

.unread {
    background-color: white;
}