

.mail-app {
    display: flex;
    flex-wrap: nowrap;
}

.mail-app > * {
    padding: 10px;
}

.side-bar > * {
    margin: 5px;
}

.side-bar {
    margin-inline-end: 20px;
}

.folders li {
    padding: 10px;    
    color: rgb(100, 99, 99);
    font-size: 1.25rem;
}

.folders li::before {
    margin: 5px;
}

.inbox-folder::before {
    content: '\f01c';
}

.sent-folder::before{
    content: '\f14d';
}

.draft-folder::before {
    content: '\f15b'
}

.trash-folder::before{
    content: '\f1f8';
}

.folders li:hover{
    cursor: pointer;
    background-color: lightgray;
}

.main-mail-display {
    flex-direction: column;
    max-width: 85%;
}

.mail-preview .actions {
    display:none;
}

.mail-preview:hover .actions{
    display: block;
}

.mail-preview {
    box-shadow: 0 1px 1px rgb(160, 160, 160);
    flex-wrap: nowrap;
    margin-top: 2px;
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 8fr 2fr 2fr;
    grid-template-rows: 1fr;
}

.mail-preview li {
    /* margin-inline-end: 20px; */
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.mail-preview:hover {
    box-shadow: 0 2px 1px rgb(117, 117, 117);
    cursor: pointer;
}


.form-btns button, .btn-back, .actions button, .folders li::before {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: fa;
    font-size: 1rem;
    color: rgb(160, 160, 160);
}

.actions button:hover {
    color: rgb(124, 123, 123);
}

.read {
    background-color: rgb(241, 238, 238);
}

.unread {
    background-color: white;
}


.btn-delete::before {
    content: '\f1f8';
}

.btn-expand::before {
    content: '\f065'
}
.btn-note::before {
    content: '\f1d8'
}

.star::before{
    font-family: far;
    font-style: normal;
    content: '\f005'
}

.unread .bold {
    font-weight: bold;
}


/* mail expand */

.mail-expand {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    background-color: whitesmoke;
}

.mail-expand > * {
    padding: 10px;
}


/* mail details */

.mail-details {
    width: 90%;
    flex-direction: column;
    margin: 2rem;   
    position: relative;  
    background-color: whitesmoke;  
}

.mail-details > * {
    padding: 20px 20px;
}

.mail-details .actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px 20px;

}

.mail-details .actions button {
    font-size: 1.5em;

}

.btn-back {
    font-size: 4rem;
    position:absolute;
    bottom: 0;
}

.btn-back::before {
    font-family: fa;
    content: '\f060';
}

/* mail edit */

.mail-edit {
    margin: 2rem;
}

.mail-edit textarea {
    resize: none;
    flex-grow:1;
    font-size: 1rem;
    font-family: sans-serif;
}

.mail-edit form {
    display: flex;
    flex-direction: column;    
    height: 90%;
    border: 1px solid rgb(160, 160, 160);
    font-size: 1.5rem;
}


.mail-edit input, .mail-edit textarea {
    border: none;
    box-shadow: 0 1px 1px rgb(160, 160, 160);
    margin: 1px;
    padding: 10px;
}

.form-btns button {
    font-size: 3rem;
}

.send-btn::before {
    content: '\f138';
}

.cancel-btn::before {
    content: '\f1f8';
}