@import 'note-edit-bar.css';
@import 'note-add-bar.css';

.note-app-layout{
    display: flex;
}

/* -----------side-menu---------- */

.side-menu{
    display: flex;
    flex-direction: column;
    /* background-color: lemonchiffon; */
    gap: 15px;
    width: 200px;
    height: 100%;
}

.side-menu button{
background-color: transparent;
text-align: start;
border: 1px solid transparent;
border-radius: 0 25px 25px 0;
padding: 12px;
}

.side-menu .keeps-label{
    margin-top: 10px;
}

.side-menu button:hover{
    background-color: #f1f3f4;
}

.side-menu button::before{
font-family: fa;
font-size: larger;
color: #646363;
margin-inline-end: 4px;
}




.keeps-label::before{
    content: '\f0eb';
}

.pinned-label::before{
    content: '\f08d';
}

.archiv-label::before{
    content: '\f187';
}


/* ----------notes-section---------- */

.notes-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #646363;
}

.notes-section h2{
    margin: 20px;
}

.note-app{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.note-app h2{
    padding: 10px;
}

.note-list{
    column-count: 5;
    column-gap: 1em;
    width: 100%;
}

.card{
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
}

.note-preview{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    min-height: 150px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.note-details{
    padding: 10px;
}

.section-titles{
    text-align: start;
    color: #646363;
    margin: 20px;
    font-size: 12px;
}



/* note-img */

.note-img img{
width: 184px;
border-radius: 3px;

}

/* note-video */

iframe{
    transform: translate3d(0,0,0);
}


/* ------------editor-------------- */
.edit-modal{
    position: relative;
}

.edit-modal .modal-editor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    min-height: 150px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.editor-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.editor-header .title-input {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 100%;
    color: #646363;
    font-size: 1.17rem;
    font-weight: bold;

}
.editor-main .txt-input{
    background-color: transparent;
    resize: none;
    width: 100%;
    min-height: 200px;
    color: #646363;
    font-size: 1.17rem;
}




/* helpers */

.note-title{
    text-align: center;
}