@import 'note-edit-bar.css';
@import 'note-add-bar.css';

.note-app{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.note-app h2{
    padding: 10px;
}

.note-preview{
    background-color: whitesmoke;
    width: 200px;
    min-height: 150px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.note-list{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    padding-inline-start: 0px;
    
}


.note-details{
    padding: 10px;
}




/* note-img */

.note-img img{
width: 184px;
border-radius: 3px;
}




/* helpers */

.note-title{
    text-align: center;
}