
.note-add-bar{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 1rem;
    width: fit-content;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px;
}

.note-type-btns{
    display: flex;
    color: rgb(100, 99, 99);
}

.note-type-btns > *{
    font-family: fa;
    color: rgb(100, 99, 99);
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.add-youtube{
    font-family: fab;
}

.add-keep-btn{
    font-size: 1.8rem;
    color: rgb(110, 161, 58);
}

.txt-input{
    border: none;
    width: 300px;
    height: 40px;
}

.separator{
    height: 100%;
    border-left: 1px solid rgb(194, 192, 192);
}

.add-txt::before{
    content: '\f303';
}

.add-img::before{
    content: '\f03e';
}

.add-youtube::before{
    content: '\f167';
}

.add-todos::before{
    content: '\f0ca';
}

.add-keep-btn::before{
    content: '\f067';
}

